table {
          border: 1px solid #b1d1f0;
          border-collapse: collapse;
        }
        th, td {
          color: #8e6f28;
            border: 1px solid #b1d1f0;
          padding: 8px;
  font-family: 'Bradley Hand', sans-serif;
        }
                                                
          
        
        th {
            background-color: #b1d1f0;
          color: #fdfdfd;
          
        }
       
body{
        background-color: #edebda;}
    
hr {
        border-color: #d0ceb7;
        border-style:none;
       border-top-style:dotted ;
        border-width: 5px /*adjust dot radius*/;
        width: 4% ;}
       
 p {color: #2a7acb;
font-family: 'Bradley Hand', sans-serif;}
 form {          color: #8e6f28;
    font-family: 'Bradley Hand', sans-serif;
            border-color: 1px solid #b1d1f0;}
h1{color: #8e6f28;
font-family: 'ElliotSix', sans-serif;
}